<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Rory's Contact Information</title>
</head>

<body>
    <div id="container">
        <header>
            <h1>CONTACT</h1>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="/"><img src="/images/home.png" alt="" class="icon"> home</a>
                </li>
                <li>
                    <a href="resume"><img src="/images/file.png" alt="" class="icon"> resume</a>
                </li>
                <li>
                    <a href="projects"><img src="/images/tools.png" alt="" class="icon"> projects</a>
                </li>
                <li>
                    <a href="contact"><img src="/images/email.png" alt="" class="icon"> contact</a>
                </li>
            </ul>
        </nav>
        <section class="intro-section">
            <div id="text-content">
                <h1>Contact information</h1>
                <p>On this page you can find any information you need to contact me.</p>
                <div id="contact-list">
                    <ul>
                        <li>
                            Email | roryhofland@gmail.com
                        </li>
                        <li>
                            Phone Number | (587) 707-1111
                        </li>
                        <li>
                            LinkedIn | <a href="https://www.linkedin.com/in/roryhofland" target="_blank">www.linkedin.com/in/roryhofland</a>
                        </li>
                        <li>
                            GitHub | <a href="https://github.com/roryhofland/roryhofland.github.io" target="_blank">https://github.com/roryhofland/roryhofland.github.io</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <footer>
            <p>Rory Hofland 2021</p>
            <div><img src="images/joke.png" alt="" class="icon"> Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik" target="_blank">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a>
            </div>
        </footer>
    </div>
</body>

</html>