<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Rory's Personal Website Home</title>
</head>

<body>
    <div id="container">
        <header>
            <h1>HOME</h1>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="/"><img src="/images/home.png" alt="" class="icon"> home</a>
                </li>
                <li>
                    <a href="resume"><img src="/images/file.png" alt="" class="icon"> resume</a>
                </li>
                <li>
                    <a href="projects"><img src="/images/tools.png" alt="" class="icon"> projects</a>
                </li>
                <li>
                    <a href="contact"><img src="/images/email.png" alt="" class="icon"> contact</a>
                </li>
            </ul>
        </nav>
        <section class="intro-section">
            <div id="text-content">
                <h1>About me</h1>
                <img src="images/me.jpg" alt="profile pic" id="profile-pic">
                <p>Hey! My name is <strong>Rory Hofland</strong>, I am an undergraduate student in my third year at the
                    <a href="https://www.utoronto.ca/" target="_blank">University of Toronto</a>, and I am working my
                    way towards a double major in Mathematics and Computer Science.</p>
                <p>My appreciation for programming kicked off in high school, where I became familiar with Java and
                    dabbled in C++. I was intrigued by the elegance and rigorousness of code, and by the usefulness of
                    software. This introduction to computer programming greatly motivated me to further my knowledge and
                    experience, so mathematical problem-solving became a core aspect of my working habits, which led me
                    to pursue an education in STEM. Since then, I have added Python, HTML, CSS, JavaScript, and Node.js
                    to my toolbelt, and I am constantly learning and looking for more skills.</p>
                <p>Other than my academic studies, I have a few hobbies that occupy the rest of my time. I love to read,
                    and will devour anything science fiction or high fantasy. I am currently reading "<i><a
                            href="https://www.goodreads.com/book/show/38820046-21-lessons-for-the-21st-century"
                            target="_blank">21 Lessons for the 21st Century</a></i>" by Yuval Noah Harari. I also watch
                    movies and enjoy dominating my family and friends at Settlers of Catan.</p>
                <p>I use this website to show off my projects and to share a little about myself for prospective
                    employers. Make sure to check out my <a href="resume">resume</a> and <a href="projects">projects</a>
                    pages for more information. Thanks for reading!</p>
            </div>
        </section>
        <div id="scrollbar">
            <ul>
                <li>
                    <a href="projects/#personal-website" class="preview">
                        <figure>
                            <img src='images/website.png' alt='missing' class="thumbnail"/>
                            <figcaption>Personal Website</figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="projects/#expression-tree" class="preview">
                        <figure>
                            <img src='images/exprtree.jpg' alt='missing' class="thumbnail"/>
                            <figcaption>Expression Tree</figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="projects/#course-scheduler" class="preview">
                        <figure>
                            <img src='images/scheduler.png' alt='missing' class="thumbnail"/>
                            <figcaption>Course Scheduler</figcaption>
                        </figure>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>