<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Rory's Projects</title>
</head>

<body>
    <div id="container">
        <header>
            <h1>RESUME</h1>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="/"><img src="/images/home.png" alt="" class="icon"> home</a>
                </li>
                <li>
                    <a href="resume"><img src="/images/file.png" alt="" class="icon"> resume</a>
                </li>
                <li>
                    <a href="projects"><img src="/images/tools.png" alt="" class="icon"> projects</a>
                </li>
                <li>
                    <a href="contact"><img src="/images/email.png" alt="" class="icon"> contact</a>
                </li>
            </ul>
        </nav>
        <section class="project-section">
            <div id="project-content">
                <h1>Projects</h1>
                <p>Here are some personal projects I have worked on to gain practical experience.</p>
                <ul id="project-list">
                    <li class="project">
                        <div>
                            <h2>Personal Website</h2>
                            <p>A personal website I made to demonstrate experience in front-end design, as well as talk about myself. This was my first major project where I got to test out my HTML and CSS skills. I decided against using Bootstrap or any other front-end framework for this project, as I thought that learning the fundamentals was more important. Relying on a framework would narrow my understanding. </p> <br>
                            <h2>Skills learned/practiced</h2>
                            CSS, HTML, JavaScript, Node.js <br> 
                            <br>
                            <h2>Links</h2>
                            <a href="/">Main Page</a> <br>
                            <a href="https://github.com/roryhofland/personal-website" target="_blank">GitHub</a>
                        </div>
                        <div>
                            <img src="/images/website.png" alt="image">
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="spacer"></section>
    </div>
</body>

</html>