<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Main</title>
</head>

<body>
    <div id="container">
        <header>
            <h1>RESUME</h1>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="/"><img src="/images/home.png" alt="" class="icon"> home</a>
                </li>
                <li>
                    <a href="resume"><img src="/images/file.png" alt="" class="icon"> resume</a>
                </li>
                <li>
                    <a href="projects"><img src="/images/tools.png" alt="" class="icon"> projects</a>
                </li>
                <li>
                    <a href="contact"><img src="/images/email.png" alt="" class="icon"> contact</a>
                </li>
            </ul>
        </nav>
        <section class="project-section">
            <div id="project-content">
                <h1>Projects</h1>
                <p>Here are some projects.</p>
                <ul id="project-list">
                    <li class="project">
                        <h2>Personal Website</h2>
                        <p>A personal website I made to demonstrate experience in front-end design, as well as talk about myself. </p>
                    </li>
                    <li class="project">
                        this is another project
                    </li>
                </ul>
            </div>
        </section>
        <footer>
            <p>Rory Hofland 2021</p>
            <div><img src="images/joke.png" alt="" class="icon"> Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik" target="_blank">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a>
            </div>
        </footer>
    </div>
</body>

</html>