<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Main</title>
</head>

<body>
    <div id="container">
        <header>
            <h1>RESUME</h1>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="/"><img src="/images/home.png" alt="" class="icon"> home</a>
                </li>
                <li>
                    <a href="resume"><img src="/images/file.png" alt="" class="icon"> resume</a>
                </li>
                <li>
                    <a href="projects"><img src="/images/tools.png" alt="" class="icon"> projects</a>
                </li>
                <li>
                    <a href="contact"><img src="/images/email.png" alt="" class="icon"> contact</a>
                </li>
            </ul>
        </nav>
        <section class="resume-section">
            <div id="resume-left" class="resume">
                <ul>
                    <li>
                        <strong>Download PDF</strong> <br> <a href="/docs/resume.pdf" download="RoryHoflandResume">RoryHoflandResume.pdf</a>
                    </li>
                    <li>
                        <strong>Email</strong> <br>roryhofland@gmail.com
                    </li>
                    <li>
                        <strong>Phone</strong> <br>(587) 707-1111
                    </li>
                    <li>
                        <strong>LinkedIn</strong> <br>
                        <a href="https://www.linkedin.com/in/roryhofland" target="_blank">www.linkedin.com/in/roryhofland</a>
                    </li>
                </ul>
            </div>
            <div id="resume-right" class="resume">
                <div id="name">
                    <h1>Rory Hofland</h1>
                </div>
                <hr id="line">
                <h3>Summary</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat error perferendis, molestiae qui nesciunt corrupti saepe nostrum? Quasi animi explicabo recusandae nam placeat, a alias iusto eum optio magnam maiores.</p>
                <hr>
                <div class="resume-div">
                    <div class="text-part">
                        <h3>Education</h3>
                        <p> <strong>University of Toronto</strong> (September 2019 - present) <br> Bachelor of Science <br> Computer Science and Mathematics <br> cGPA: 3.63/4.00 <br> Winter 2021 - Dean's List Scholar </p>
                    </div>
                    <div class="image-part">
                        <img src="images/uoft.png" alt="img" id="uoft-logo">
                    </div>
                </div>
                <hr>
                <h3>Skills</h3>
                <div class="skills">
                    <ul>
                        <li>
                            <figure class="skill" >
                                <img src='images/HTML.png' alt='missing'/>
                                <figcaption>HTML5</figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure class="skill" >
                                <img src='images/CSS3.png' alt='missing'/>
                                <figcaption>CSS3</figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure class="skill" >
                                <img src='images/JS.png' alt='missing'/>
                                <figcaption>JavaScript</figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure class="skill" >
                                <img src='images/LATEX.png' alt='missing'/>
                                <figcaption>LaTeX</figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
                <div class="skills">
                    <ul>
                        <li>
                            <figure class="skill" >
                                <img src='images/NodeJS.png' alt='missing'/>
                                <figcaption>Node.js</figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure class="skill" >
                                <img src='images/Python.png' alt='missing'/>
                                <figcaption>Python</figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure class="skill" >
                                <img src='images/Java.png' alt='missing'/>
                                <figcaption>Java</figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure class="skill" >
                                <img src='images/GitHub.png' alt='missing'/>
                                <figcaption>GitHub</figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
                <hr>
                <h3>Experience</h3>
            </div>
        </section>
        <div id="scrollbar">
            <ul>
                <li>
                    <figure>
                        <img src='images/joke.png' alt='missing' class="thumbnail" />
                        <figcaption>Caption goes here</figcaption>
                    </figure>

                </li>
                <li>
                    <figure>
                        <img src='images/joke.png' alt='missing' class="thumbnail" />
                        <figcaption>Caption goes here</figcaption>
                    </figure>

                </li>
                <li>
                    <figure>
                        <img src='images/joke.png' alt='missing' class="thumbnail" />
                        <figcaption>Caption goes here</figcaption>
                    </figure>

                </li>
            </ul>
        </div>
        <footer>
            <p>Rory Hofland 2021</p>
            <div><img src="images/joke.png" alt="" class="icon"> Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik" target="_blank">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a>
            </div>
        </footer>
    </div>
</body>

</html>