@font-face {
    font-family: arvo;
    src: url(./fonts/Arvo-Regular.ttf);
}

@font-face {
    font-family: arvo;
    src: url(./fonts/Arvo-Bold.ttf);
    font-weight: bold;
}

body {
    margin: 0;
}

a {
    color: black;
}

a:hover {
    transition: all 0.25s;
    background-color: rgb(245, 245, 245);
    color: black;
}

#container {
    display: grid;
    grid-template-rows: 80px auto auto auto auto;
    grid-template-columns: 1fr 10fr 1fr;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header {
    grid-row: 1;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: rgb(31, 31, 31);
}

header h1 {
    font-weight: lighter;
    font-size: 40px;
    letter-spacing: .1em;
}

nav {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000
}

nav ul {
    margin: 0;
    padding: 10px 0;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

nav li {
    display: inline;
    text-align: center;
    width: 100%;
}

nav li:not(:last-child) {
    padding-right: 10px;
}

.icon {
    vertical-align: middle;
    height: 1em;
    padding-right: 5px;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: larger;
    padding: 10px;
    width: fit-content;
}

nav a:hover {
    filter: invert(1);
}

nav a:active {
    transition: all 0.25s;
    filter: invert(1);
}

.intro-section {
    grid-column: 2;
    grid-row: 3;
    padding: 50px 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    column-gap: 30px;
}

#text-content {
    font-size: 1.1em;
}

#text-content h1 {
    margin: 0;
    font-weight: lighter;
    font-size: 30px;
}

#text-content p {
    line-height: 1.6em;
}

#profile-pic {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 18px 0 3% 3%;
    float: right;
    width: auto;
    height: 250px;
}

#scrollbar {
    grid-row: 4;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    margin-bottom: 20px;
}

#scrollbar ul {
    width: 80%;
    margin: 30px 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

#scrollbar li {
    display: inline;
    text-align: center;
    background-color: #fafafa;
    border: 1px solid #aaa;
    border-radius: 4px;
}

#scrollbar li:hover {
    transition: all 0.25s;
    background-color: #f2f2f2;
}

#scrollbar a {
    text-decoration: none;
}

.thumbnail {
    height: 100px;
    margin-bottom: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    height: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #f2f2f2;
    border-top: 1px black solid;
    opacity: .9;
}

footer div {
    padding: 0 5%;
}

footer p {
    margin: 8px;
}

#contact-list ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

#form-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#contact-form {
    width: 70%;
    padding: 3%;
    border: gray 1px solid;
    border-radius: 5px;
    display: inline-block;
}

#contact-form input {
    margin-bottom: 1em;
}

#contact-form input[type='text'] {
    width: 100%;
}

#contact-form input[type='email'] {
    width: 100%;
}

#contact-form textarea {
    width: 100%;
    resize: vertical;
    margin-bottom: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#contact-form input[type='submit'] {
    width: 100%;
}

#download-link {
    text-decoration: none;
    text-align: center;
    border: #000000 1px solid;
    margin: 10px;
    box-sizing: border-box;
}

#download-link:hover {
    filter: invert(1);
}

#resume-thumb {
    transition: all 0.25s;
    transform: scale(1.2);
    color: #000000;
    width: 100%;
    box-sizing: border-box;
}

#resume-thumb img {
    height: 150px;
    border: #000000 1px solid;
}

.resume-section {
    grid-column: 2;
    grid-row: 3;
    padding: 50px 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    column-gap: 30px;
    display: flex;
    position: relative;
    line-height: 1.6em;
}

#resume-left {
    width: 25%;
    font-size: 1.1em;
}

#resume-right {
    width: 75%;
    font-size: 1.1em;
}

#resume-right h1 {
    height: auto;
    font-weight: bold;
    margin: 0;
    font-size: 40px;
    box-sizing: border-box;
}

#resume-left ul {
    list-style: none;
    padding: 0 0 20px 0;
    margin: 0;
}

#line {
    color: black;
}

#name {
    height: 40px;
}

.resume-div {
    display: flex;
    position: relative;
    flex-direction: row;
}

.text-part {
    width: 70%;
}

.image-part {
    height: 180px;
    width: 30%;
    position: relative;
    display: flex;
    justify-content: center;
}

#uoft-logo {
    height: 100%;
    padding: 20.6px;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    position: relative;
    height: fit-content;
}

.skills ul {
    padding: 0;
    margin: 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.skills li {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.skill {
    transition: all 0.25s;
    color: white;
    height: auto;
    padding: 0;
    margin: 0 15%;
    margin-bottom: 5px;
}

.skill img {
    width: 100%;
}

.skill:hover {
    transition: all 0.25s;
    transform: scale(1.1);
    color: #000000;
}

.project-section {
    grid-column: 2;
    grid-row: 3;
    padding: 50px 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    column-gap: 30px;
    display: flex;
    position: relative;
    line-height: 1.6em;
}

#project-content {
    font-size: 1.1em;
    width: 100%;
}

#project-content h1 {
    margin: 0;
    font-weight: lighter;
    font-size: 30px;
}

#project-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.project {
    display: flex;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    height: auto;
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: #fafafa;

}

.project h2 {
    font-weight: normal;
    font-size: 20px;
    margin: 0;
    margin-bottom: 5px;
}

.project p {
    line-height: normal;
    margin: 0;
    width: 80%;
}

.project img {
    height: 300px;
    padding: 20px;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

@media (max-width: 800px) {
    nav ul {
        flex-direction: column;
    }
    #scrollbar ul {
        flex-direction: column;
    }
    .intro-section {
        flex-direction: column;
        grid-column: 1 / -1;
        margin-top: 20px;
        padding: 5%;
    }
    #text-content {
        font-size: 1em;
    }
    #profile-pic {
        box-sizing: border-box;
        width: 80%;
        height: auto;
        margin: 10%;
    }
    footer {
        flex-direction: column;
        padding-bottom: 10px;
    }
    #contact-form {
        width: 80%
    }
    .resume-section {
        flex-direction: column;
        grid-column: 1/-1;
    }
    #resume-right {
        width: 100%;
    }
    #resume-left {
        width: 100%;
    }
    .skills ul {
        flex-direction: column;
    }
    .skill img {
        max-width: 100%;
    }
}